version: "3.7"
networks:
  cashing-app:
volumes:
  postgres:
services:
  db:
    image: postgres
    volumes:
      - postgres:/var/lib/postgresql/data
    networks:
      - cashing-app
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: cashing-app
    ports:
      - "5432:5432"
  app:
    image: cashing-app
    networks:
      - cashing-app
    command: ["/wait-for-it.sh", "db:5432", "--", "npm", "start"]
    ports:
      - "8080:8080"